@model ProjectF2.Models.ListaPedidos
@{
    ViewBag.Title = "HistoricoRespostas";
}

<h2>HistoricoRespostas</h2>

@if (Model.ListagemPedidos.Count > 0)
{
    <h4>Lista de Pedidos</h4>
    <table class="table">
        <tbody>
            @foreach (var pedido in Model.ListagemPedidos)
            {
                <tr>
                    <td>@string.Format("{0:dd/MM/yyyy HH:mm}", pedido.Data)</td>
                    <td>@pedido.NomeModelo</td>
                    <td>@pedido.DescricaoPedido.Substring(0, (pedido.DescricaoPedido.Length > 200 ? 200 : pedido.DescricaoPedido.Length))</td>
                    <td>@Html.ActionLink("Ver Resposta", "DetalheResposta", new { respostaId = pedido.RespostaId })</td>
                </tr>
            }
        </tbody>
    </table>

}