@model ProjectF2.Models.Lojista

@{
    ViewBag.Title = "RegistroSucesso";
}

<h2>RegistroSucesso</h2>

<p>Você foi cadastrado com sucesso. </p>
<p>Verifique seu e-mail</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


