
@{
    ViewBag.Title = "PedidoEnviadoSucesso";
}

<h2>PedidoEnviadoSucesso</h2>

<p>*** Pedido enviado com sucesso**** </p>

<p>@Html.ActionLink("Novo Pedido", "NovoPedido")</p>
<p>@Html.ActionLink("Home", "Index")</p>

