
@model ProjectF2.Models.Usuario

@{
    ViewBag.Title = "RegistroSucesso";
}

<h2>RegistroSucesso - Usuário</h2>

<p>Você foi cadastrado com sucesso. </p>
<p>Verifique seu e-mail</p>

Please confirm your account by clicking <a href="@ViewBag.Url">here</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


